/* .customBtn {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 1px 1px 0px lightgray;
}

.customBtn:hover {
  color: var(--buttonTextColor);

} */

/* .btnFont{
   font-size: var(--font-btnSize) !important;
} */